<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/Logo.png">
    <title>http2midi - Debug-Helper</title>
</head>
<body onload="loadCurrentStatus()">
<div class="container" id="s1-container">
    <div class="container-head">
        <img id="s1" src="/Studio_One.png">
        <h2>Presonus Studio One</h2>
    </div>
    <div class="container-body">
        <div class="container-event">
            <button id="StartRec" onclick="sendAction('startRec')">start Rec</button>
            <textarea>start the Recording</textarea>
        </div>
        <div class="container-event">
            <button id="StopRec" onclick="sendAction('stopRec')">stop Rec</button>
            <textarea>stop the current Recording</textarea>
        </div>
        <div class="container-event">
            <button id="SetMarker" onclick="sendAction('setMarker')">set Marker</button>
            <textarea>set a Maker at  the current position</textarea>
        </div>
        <div class="container-event">
            <button id="SelectAudio" onclick="sendAction('setEndMarker')">set Marker to Selection</button>
            <textarea>set the Start and End Maker to selection</textarea>
        </div>
        <div class="container-event">
            <button id="NormalizeAudio" onclick="sendAction('normalize')">normalize Audio</button>
            <textarea>normalize Audio on the current selected Clip</textarea>
        </div>
        <div class="container-event">
            <button id="ExportAudio" onclick="sendAction('exportAudio')">export Audio</button>
            <textarea>export the Audio</textarea>
        </div>
    </div>
</div>
<div class="container" id="presenter-container">
    <div class="container-head">
        <img id="s1" src="/Presenter.png">
        <h2>Worship Extreme: Presenter</h2>
    </div>
    <div class="container-body">
        <div class="container-event">
            <button id="setFirstItem" onclick="sendAction('changeItem')">to first Item</button>
            <textarea>change Presentation to the first item in the list of this service</textarea>
        </div>
        <div class="container-event">
            <button id="prevItem" onclick="sendAction('prevItem')">previous Item</button>
            <textarea>change Presentation to previous Item</textarea>
        </div>
        <div class="container-event">
            <button id="nextItem" onclick="sendAction('nextItem')">next Item</button>
            <textarea>change Presentation to next Item</textarea>
        </div>
        <div class="container-event">
            <button id="setFirstSlide" onclick="sendAction('changeSlide')">to first Slide</button>
            <textarea>change Presentation to the first slide in the currently selected Item</textarea>
        </div>
        <div class="container-event">
            <button id="prevSlide" onclick="sendAction('prevSlide')">previous Slide</button>
            <textarea>change Presentation to previous Slide</textarea>
        </div>
        <div class="container-event">
            <button id="nextSlide" onclick="sendAction('nextSlide')">next Slide</button>
            <textarea>change Presentation to next Slide</textarea>
        </div>
    </div>
</div>
<div class="container" id="callback-container">
    <div class="container-head">
        <h2>Callback & Status</h2>
    </div>
    <div class="container-body">
        <!-- <div class="container-event">
            <div class="radio">
                <input type="radio" name="switch" id="local" value="local" checked>
                <label for="local">Call Functions Locally</label>
            </div>
            <div class="radio">
                <input type="radio" name="switch" id="http" value="http">
                <label for="http">Call Functions via HTTP</label>
            </div>
        </div> -->
        <div class="container-event">
            <h3>Response</h3>
            <textarea id="response"></textarea>
        </div>
        <div class="container-event">
            <h3>Studio One Feedback</h3>
            <table>
                <tr>
                    <td><div class="status">Rec Status:</div></td>
                    <td><input id="recStatus" type="text" class="status-text"></td>
                </tr>
                <tr>
                    <td><div class="status">Marker Count:</div></td>
                    <td><input id="markerCount" type="text" class="status-text"></td>
                </tr>
            </table>
        </div>
        <div class="container-event">
            <button id="killServer" onclick="sendAction('kill')">kill Webserver</button>
        </div>
    </div>
</div>
<script>
    var recStatus = document.getElementById('recStatus');
    var markerCount = document.getElementById('markerCount');
    /**
     * @param  {string} action
     */
    function sendAction(action){
        let url = 'http://localhost:8010/';
        if(action == 'kill') {
            url += action;
        } else {
            url += `send?action=${action}`;
        }
        fetch(url).then(response => response.json()).then(text => console.log(text));
        setTimeout(() => {
            loadCurrentStatus();
        }, 100);
    }
    function loadCurrentStatus(){
        // alert('body loaded');
        fetch('./latestInfo.json').then(response => response.json()).then(jsondata => {
            parseDataToElements(jsondata)
        });
    }

    function parseDataToElements(data){
        document.getElementById('markerCount').value = data.markerCount;
        if(data.recStatus == true) {
            recStatus.classList.add('status-active');
            if(recStatus.classList.contains('status-stopped') == true){
                recStatus.classList.remove('status-stopped');
            }
            recStatus.value = 'Recording!';
        }
        else {
            recStatus.classList.add('status-stopped');
            if(recStatus.classList.contains('status-active') == true){
                recStatus.classList.remove('status-active');
            }
            recStatus.value = "Stopped!"
        }
        if(data.latestAction == ''){
            document.getElementById('response').value = '';
            recStatus.value = '';
            if (recStatus.classList.contains('status-stopped') == true){
                recStatus.classList.remove('status-stopped');
            }            
            if (recStatus.classList.contains('status-active') == true){
                recStatus.classList.remove('status-active');
            }
        } else if (data.latestAction == 'kill') {
            document.getElementById('response').value = 'Info: Application will shut down!'
        }
        else {
            document.getElementById('response').value = `Latest Action: ${data.latestAction}`;
        }
    }
</script>

</body>
</html>