<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/Logo.png">
    <title>http2midi - Debug-Helper</title>
</head>
<body onload="sendAction('debugStartup')">
    <div class="header">
        <h1>Debug-Helper for http2midi</h1>
        <p>This Website is to help test and debug the http2midi application. The Webserver itself is for sending Commands from a Streamdeck running <a target="_blank" href="http://192.168.178.24:8000/buttons">Companion</a>. Afterward, it sends Midi Commands to Studio One, the Audio recording software, or Presenter, the well .... presentation software ;).
            If there are any questions about functionality or problems, please let me know.</p>
    </div>
<div class="container" id="s1-container">
    <div class="container-head">
        <img id="s1" src="/Studio_One.png">
        <h2>Presonus Studio One</h2>
    </div>
    <div class="container-body">
        <div class="container-event">
            <button onclick="sendAction('startRec')">start Rec</button>
            <textarea>start the Recording</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('stopRec')">stop Rec</button>
            <textarea>stop the current Recording</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('setMarker')">set Marker</button>
            <textarea>set a Maker at  the current position</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('setEndMarker')">set Marker to Selection</button>
            <textarea>set the Start and End Maker to selection</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('normalize')">normalize Audio</button>
            <textarea>normalize Audio on the current selected Clip</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('exportAudio')">export Audio</button>
            <textarea>export the Audio</textarea>
        </div>
    </div>
</div>
<div class="container" id="presenter-container">
    <div class="container-head">
        <img id="s1" src="/Presenter.png">
        <h2>Worship Tools: Presenter</h2>
    </div>
    <div class="container-body">
        <div class="container-event">
            <button onclick="sendAction('bindPresenter')">bind Midi to Presenter</button>
            <textarea>bind the Midi-Output to Presenter after starting it. Due to some function, the binding gets lost when closing the program.</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('changeItem')">to first Item</button>
            <textarea>change Presentation to the first item in the list of this service</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('prevItem')">previous Item</button>
            <textarea>change Presentation to the previous Item</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('nextItem')">next Item</button>
            <textarea>change Presentation to the next item</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('changeSlide')">to first Slide</button>
            <textarea>change Presentation to the first slide in the currently selected Item</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('prevSlide')">previous Slide</button>
            <textarea>change Presentation to the previous Slide</textarea>
        </div>
        <div class="container-event">
            <button onclick="sendAction('nextSlide')">next Slide</button>
            <textarea>change Presentation to the next Slide</textarea>
        </div>
    </div>
</div>
<div class="container" id="callback-container">
    <div class="container-head">
        <h2>Callback & Status</h2>
    </div>
    <div class="container-body">
        <div class="container-event">
            <h3>Status for Debugging</h3>
            <table id="switch">
                <tr>
                    <td>AutoExport:</td>
                    <td>
                        <div class="switch">
                            <input type="checkbox" id="switchExport">
                            <span class="slider round"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="80%">MIDI Output:</td>
                    <td>
                        <div class="switch">
                            <input type="checkbox" id="switchMidi">
                            <span class="slider round"></span>
                      </div></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="midiOutput"  class="status-text" readonly>
                    </td> 
                </tr>
            </table>
        </div>
        <div class="container-event">
            <h3>Response</h3>
            <textarea id="response"></textarea>
        </div>
        <div class="container-event">
            <h3>Studio One Feedback</h3>
            <table>
                <tr>
                    <td><div class="status">Rec Status:</div></td>
                    <td><input id="recStatus" type="text" class="status-text" readonly></td>
                </tr>
                <tr>
                    <td><div class="status">Marker Count:</div></td>
                    <td><input id="markerCount" type="text" class="status-text"readonly></td>
                </tr>
            </table>
        </div>
        <div class="container-event">
            <button id="killServer" onclick="sendAction('kill')">kill Webserver</button>
        </div>
    </div>
</div>
<script>
    /**
     * @param  {string} action
     */
    function sendAction(action){
        let url = 'http://localhost:8010/';
        if(action == 'kill') {
            document.getElementById('response').value = 'The server will shut down';
            url += action;
        } else {
            url += `debug?action=${action}`;
        }
        fetch(url).then(response => response.json()).then(data => {
            setTimeout(() => {
            parseDataToElements(data);
            }, 100);
        });
        
    }
    let recStatus = document.getElementById('recStatus');
    let switchMidi = document.getElementById('switchMidi');
    let switchExport = document.getElementById('switchExport');
    /**
     * @param  {string} data
     */
    function parseDataToElements(data){
        document.getElementById('markerCount').value = data.markerCount;
        document.getElementById('midiOutput').value = data.MidiOutput;

        // Handling the Recording Status with color-coding
        if(data.recStatus == true) {
            recStatus.classList.add('status-active');
            if(recStatus.classList.contains('status-stopped') == true) recStatus.classList.remove('status-stopped');
            recStatus.value = 'Recording!';
        }
        else {
            recStatus.classList.add('status-stopped');
            if(recStatus.classList.contains('status-active') == true){
                recStatus.classList.remove('status-active');
            }
            recStatus.value = "Stopped!"
        }

        //Handling the Response-Textarea
        if(data.latestAction == ''){
            document.getElementById('response').value = '';
            recStatus.value = '';
            if (recStatus.classList.contains('status-stopped') == true) recStatus.classList.remove('status-stopped');           
            if (recStatus.classList.contains('status-active') == true) recStatus.classList.remove('status-active');

        } else if (data.latestAction == 'kill') {
            document.getElementById('response').value = 'Info: Application will shut down!'
        }
        else {
            document.getElementById('response').value = `Latest Action: ${data.latestAction}`;
        }

        // Handling the Status indicators for AutoExport and MidiOutput
        if(data.deactivateMidi == true) switchMidi.checked = false;
            else switchMidi.checked = true;

            if(data.deactivateAutoExport == false) switchExport.checked = true;
            else switchExport.checked = false;
    }
</script>

</body>
</html>